/* 共通 */
*{
  margin : 0px;
  padding : 0px;
}
img{
  vertical-align : bottom;
}
body{
  font-size : 16px;
  font-family : "Open Sans",Helvetica,"游ゴシック","Yu Gothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  background-color : white;
}
p{
  margin : 12px 8px;
  line-height : 1.4;
  text-indent : 1em; 
}
h2{
  font-size : 20px;
  background-color : #E0F0FF;
  padding : 8px;
}
#filter{
  position : fixed;
  width : 100%;
  height : 120%;
  left : 0px;
  top : -10px;
  z-index : 10;
  background-color : rgba(0, 0, 0, 0.7);
  text-align : center;
  padding-top : 16px;
}
#filter img{
  max-width : 80%;
  border : solid 2px white;
}

/* ヘッダ */
.header{
  border-radius: 8px;
  border : solid 1px blue;
  background: #E0F0FF;
  margin : 4px;
  text-align : center;
}
#titleimage{
  max-width : 90%;
}

/* メニュー */
.sidemenu-items a{
  font-weight : bold;
  display : block;
  border-radius: 5px;
  background: #80DAF9;
  color : black;
  margin : 4px;
  padding : 12px;
  text-decoration : none;
}

/* フッタ */
footer{
  font-size : 12px;
  font-family : Monospace;
  font-weight : bold;
  margin : 16px;
  text-align : right;
}

/* トップページ */
.top-items a{
  display : block;
  color : black;
  margin : 4px;
  padding : 8px;
  text-decoration : none;
}

/* プロフィール */
.profile-image{
  /* 今使っている画像の元サイズは621x507 */
  width : 207px;
  height : 169px;
  margin : 8px;
}

@media screen and (min-width:800px){
  body{
    font-size : 20px;
  }
  h2{
    font-size : 32px;
  }
  .container{
    display : flex;
    flex-direction : row-reverse;
    margin-top : 8px;
  }
  .sidemenu{
    flex : 0 0 240px;
  }
  .main{
    flex : 1 1 auto;
  }
  footer{
    font-size : 16px;
  }
}
